* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#darkModeToggle {
    margin-top: 20px;
}

.todoapp {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.todoapp h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todoapp h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    position: relative;
}

.row::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    border-radius: 40px;
    z-index: -1;
}

.scrolled .row {
    transform: translateY(50px);
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #153677;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding: 12px 8px;
    user-select: none;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
}

ul li::before {
    content: '';
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
}

ul li.checked .task-text {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(checked.png);
    background-size: cover;
    background-position: center;
}

ul li .task-text {
    flex: 1;
    margin-left: 10px;
}

ul li span {
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
    cursor: pointer;
}

.dark-mode {
    background: #222;
    color: #fff;
}

.dark-mode h2 {
    color: #fff;
}

.dark-mode button {
    background: #444;
    color: #fff;
}

.dark-mode ul li {
    background: #333;
    color: #fff;
}

.dark-mode ul li span:hover {
    background: #444;
}

.dark-mode .todoapp {
    background: #333;
    color: #fff;
}

#categorySelect {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    margin-right: 10px;
}

#categorySelect,
#categorySelect option {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #002765;
}

#categorySelect:hover,
#categorySelect:focus {
    background: #edeef0;
}

.error-message {
    color: red;
    font-size: 18px;
    margin-top: 10px;
}


::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3498db; 
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  

  scrollbar-color: #3498db #f1f1f1;
  scrollbar-width: thin;
  

  body {
    scrollbar-face-color: #3498db; 
    scrollbar-highlight-color: #f1f1f1; 
    scrollbar-shadow-color: #f1f1f1; 
    scrollbar-3dlight-color: #f1f1f1; 
    scrollbar-arrow-color: #3498db; 
    scrollbar-darkshadow-color: #f1f1f1; 
  }
  